<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ssb.mappers.UserMapper">
    <!--实体映射-->
    <resultMap id="base_map" type="com.ssb.entity.po.User">
        <id column="id" property="id"/>
        <result column="email" property="email"/>
        <result column="password" property="password"/>
        <result column="nick_name" property="nickName"/>
    </resultMap>

    <!--查询用的结果列-->
    <sql id="base_column_list">
        u.id,u.email,u.password,u.nick_name
    </sql>

    <!--基础条件字段-->
    <sql id="base_condition_filed">
        <if test="query.id != null">
            and u.id = #{query.id}
        </if>
        <if test="query.email != null and query.email !=''">
            and u.email = #{query.email}
        </if>
        <if test="query.nickName != null and query.nickName !=''">
            and u.nick_name = #{query.nickName}
        </if>
    </sql>

    <!--通用条件列-->
    <sql id="base_condition">
        <where>
            <include refid="base_condition_filed"/>
        </where>
    </sql>

    <!-- 通用查询条件列-->
    <sql id="query_condition">
        <where>
            <include refid="base_condition_filed"/>
            <if test="query.emailFuzzy != null and query.emailFuzzy !=''">
                AND u.email LIKE concat('%', #{query.emailFuzzy}, '%')
            </if>
            <if test="query.nickNameFuzzy != null and query.nickNameFuzzy !=''">
                AND u.nick_name LIKE concat('%', #{query.nickNameFuzzy}, '%')
            </if>
        </where>
    </sql>

    <!--新增-->
    <insert id="insert" parameterType="com.ssb.entity.po.User" >
        INSERT INTO user(email,password,nick_name) VALUES (#{email},#{password},#{nickName})
    </insert>

    <!--根据Email查询-->
    <select id="selectByEmail" resultMap="base_map">
        SELECT
        <include refid="base_column_list"/>
        FROM user u WHERE u.email=#{email}
    </select>

    <!--根据ID查询-->
    <select id="selectById" resultMap="base_map">
        SELECT
        <include refid="base_column_list"/>
        FROM user u WHERE u.id=#{id}
    </select>

    <!--统计数量-->
    <select id="selectCount" resultType="integer">
        SELECT COUNT(1) FROM user u
        <include refid="query_condition"/>
    </select>

    <!--查询所有-->
    <select id="selectList" resultMap="base_map">
        SELECT
        <include refid="base_column_list"/>
        FROM user u
        <include refid="query_condition"/>
        <if test="query.orderBy!=null">
            ORDER BY #{query.orderBy}
        </if>
        <if test="query.simplePage!=null">
            LIMIT #{query.simplePage.start},#{query.simplePage.end}
        </if>
    </select>
</mapper>
